.navbar {
    position: fixed;
    top: 0;
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 1;
    padding: 2rem 3.5rem;
    width: 100%;
    backdrop-filter: blur(20px);
}

.navbar .logo {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.navbar .logo img {
    width: 24px;
    height: auto;
    object-fit: contain;
}

.navbar .logo span {
    font-family: var(--titles);
    color: var(--primary);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar .content {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    color: var(--primary);
}

.navbar .content a {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar .content a:hover {
    filter: brightness(1.25);
}

.active {
    font-weight: 800;
}

/* Burger menu (hidden on desktop) */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.burger:hover {
    filter: brightness(1.25);
}

.burger span {
    width: 25px;
    height: 3px;
    background: var(--primary);
    border-radius: 2px;
    transition: 0.3s;
}

/* Mobile */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .content {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background: #16161620;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        padding: 6rem 3.5rem;
        transform: translateX(100%);
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }

    .navbar--opened {
        transform: translateX(0);
        flex-flow: column nowrap !important;
    }

    .navbar--opened a {
        font-size: 32px;
    }
}

.burger--active span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 8px);
}

.burger--active span:nth-child(2) {
  opacity: 0;
}

.burger--active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -9.5px);
}